/* Our CSS file. */


.container, .content {
width: 100%;
height: 100%;
}
.border {
    border: white;
}

.big-box {
    width: 100%;
    height: 500px;
    background-color: #F2F2F2;
}

.iframe-box {
    width: 55%;
    margin-right: 2%;
    float: right;
    padding-top: 150px;
}



.iframe-box iframe {
    width: 100%;
}

.paragraph {
    width: 42%;
    float: right;
    padding-top: 150px;
}

.clearfix {
    clear: both
}

button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;

    font-size: 19px;
    margin: 4px 2px;
}

.big-box1 {

    width: 100%;
    height: 550px;
    background-color: #F2F2F2;
}

.iframe-box1 {
    align-items: center;
    margin-left: 45%;
    padding-top: 50px;
}

.paragraph1 {
    align-items: center;

    margin-left: 45%;
    padding-top: 50px;
}

button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;

    font-size: 19px;
    margin: 4px 2px;
}
